/* Loading Spinner module */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading__spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner__container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
  /* width: 60vw; */
  height: 93vh;
  z-index: 3333333;
  background-color: white;
  position: absolute;
}

@media (min-width: 0px) {
  .spinner__container {
    width: 90vw;
  }
}

@media (min-width: 1000px) {
  .spinner__container {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .spinner__container {
    width: 60vw;
  }
}

/* Toast module */
.toast__box {
  position: fixed;
  bottom: 0;
  right: 20vw;
  width: 32vh;
  background-color: #e74c3c;
  color: white;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-family: "twayair";
  border-radius: 6px;
}

.progress__bar {
  margin-bottom: 2vh;
}

/* Slider module */
.slider__wrapper {
  overflow: hidden;
  position: relative;
}

.image__wrapper {
  display: inline-flex;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.image__box {
  width: 300px;
  height: 500px;
  background-size: cover;
  image-rendering: pixelated;
  cursor: pointer;
}

.profile__wrapper {
  position: absolute;
  left: 20px;
  bottom: 40px;
  display: inline-flex;
}

.profile__wrapper > p {
  color: white;
  margin-left: 9px;
  align-self: center;
}

.title {
  bottom: 0px;
  font-size: 20px;
  position: absolute;
  color: white;
  line-height: 1.3;
  padding-left: 20px;
  padding-bottom: 10px;
}

.prev__next__image {
  opacity: 0.4;
}

.button__wrapper {
  position: relative;
  top: -508px;
  height: 100px;
}

.slider__wrapper > button {
  position: absolute;
  top: 0;
  min-width: 0px;
  height: 100%;
  opacity: 0.4;
  background-color: white;
  border-radius: 0;
}
.slider__wrapper > button:hover {
  height: 100%;
  opacity: 0.4;
  background-color: white;
}

/* Progress Module css */
.progress__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
