/* Add Log module */
.title {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2vh;
  color: dark;
  background: dark;
  border: none;
  font-family: "twayair" !important;
}

.title:focus {
  border-color: none !important;
  outline: none !important;
}

.spot__list {
  width: 100%;
  height: 20px;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 2vh;
  color: dark;
  background: dark;
  border: none;
  font-family: "twayair";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.spot__list:focus {
  border-color: none !important;
  outline: none !important;
}

.content {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 38px;
  padding: 0;
  color: dark;
  background: dark;
  border: none;
  resize: none;
  font-family: "twayair";
}

.content:focus {
  border-color: none !important;
  outline: none !important;
}

.upload__box {
  display: flex;
  width: 100%;
}

.image__slider {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.preview__box {
  width: 300px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  margin-right: 10px;
  /* transition: all 0.1s linear; */
}

.preview__image {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
}

.represent__card {
  transform: translateY(-20px);
  transition: transform 450ms;
}

.represent__cancel {
  transform: translateY(0px);
  transition: transform 450ms;
}

.track__box {
  display: inline-flex;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.button__grp {
  top: 40%;
  padding: 30px 30px !important;
  position: absolute !important;
}

.btn__show {
  display: block !important;
}

.btn__hide {
  display: none !important;
}

.nav__icon {
  color: white;
  background: rgb(75 75 75 / 55%);
  border-radius: 20px;
}

.upload__button {
  height: 100%;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  color: gray;
  cursor: pointer;
  margin-right: 15px;
}

.mobile__upload__text {
  width: 65%;
  pointer-events: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.represent__text {
  background-color: antiquewhite;
}

.represent__text__cancel {
  background-color: none;
}

.log__footer {
  position: fixed;
  bottom: 0px;
}

.log__footer > button {
  color: gray;
}

.add__btn {
  position: absolute !important;
  right: 0;
}

@media (min-width: 0px) {
  .log__footer {
    width: 90vw;
  }
}
@media (min-width: 1000px) {
  .log__footer {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .log__footer {
    width: 60vw;
  }
}

/* Log View module */
.profile__wrapper {
  margin-top: 3vh;
  margin-bottom: 1vh;
  display: inline-flex;
}

.profile__wrapper > p {
  margin-left: 2vw;
  align-self: center;
}

/* 모달창 */
.modal__box {
  z-index: 10;
  position: absolute;
  background-color: #8080808c;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* 모달창을 화면 중앙. 최상단에 노출 */
.container {
  /* 모달창 크기 */
  width: 350px;
  height: 350px;

  /* 최상단 위치 */
  z-index: 11;

  /* 중앙 배치 */
  /* top; bottom; left; right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  /* background-color: gray;
  border: 1px solid black; */
  border-radius: 8px;
}

.image__box {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  height: 28px;
  background: white !important;
  top: calc((100% - 350px) * 1.56);
  width: 350px;
  left: calc((100% - 350px) / 2);
}
