/* Add Log module */
.log__footer {
  position: fixed;
  bottom: 0px;
}

.log__footer > button {
  color: gray;
}
.add__btn {
  position: absolute !important;
  right: 0;
}

@media (min-width: 0px) {
  .log__footer {
    width: 90vw;
  }
}
@media (min-width: 1000px) {
  .log__footer {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .log__footer {
    width: 60vw;
  }
}

/* log module */
.profile__wrapper {
  margin-top: 3vh;
  margin-bottom: 1vh;
  display: inline-flex;
}

.profile__wrapper > p {
  margin-left: 2vw;
  align-self: center;
}
