.login__box {
  margin-top: 0;
  height: 74vh;
  align-items: center;
  display: flex;
  flex-grow: 1;
  border-radius: 10px;
  text-align: center;
}

.login__text {
  color: #3b3b3ba8;
  padding-bottom: 2vh;
}

.sso__btn {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  color: transparent;
  border: none;
  width: 68px;
  height: 68px;
}
.sso__btn:hover {
  background-color: transparent;
}

.login__btn {
  background-color: #67737ead !important;
}

.join__btn {
  background-color: #345636ad !important;
}

.naverIdLogin {
  display: none;
}
