.button__grp {
  top: 40%;
  padding: 30px 30px !important;
  position: absolute !important;
}

.btn__show {
  display: block !important;
}

.btn__hide {
  display: none !important;
}

.none__underline {
  position: absolute;
  right: 0;
  text-decoration: none !important;
  width: 100px !important;
}

.none__underline > button {
  right: 10;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  background-color: #3b3b3b;
  color: papayawhip;
  width: 100px !important;
}

.none__underline > button:hover {
  background-color: #3b3b3b !important;
  box-shadow: none !important;
}

.select input[type="radio"]:checked + div {
  background-color: indigo;
  color: #fff;
}

.spot__footer {
  position: fixed;
  bottom: 0px;
}

.spot__footer > button {
  color: gray;
}
.add__btn {
  position: absolute !important;
  right: 0;
}

@media (min-width: 0px) {
  .spot__list__Box {
    width: 76vw;
  }
  .spot__footer {
    width: 90vw;
  }
}

@media (min-width: 600px) {
  .spot__list__Box {
    width: 82vw;
  }
}
@media (min-width: 1000px) {
  .spot__list__Box {
    width: 75vw;
  }
  .spot__footer {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .spot__list__Box {
    width: 55vw;
  }
  .spot__footer {
    width: 60vw;
  }
}
/* Spot List 모듈 CSS */
