.carousel__container {
  width: 95%;
  margin: 10px auto;
  position: relative;
}
@media (max-width: 768px) {
  .carousel__container {
    width: 95%;
  }
}
.inner__carousel {
  width: 100%;
  overflow: hidden;
}
.track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.card__container {
  width: 275px;
  height: 400px;
  flex-shrink: 0;
  display: flex;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.1s linear;
}
.card__container:hover {
  transform: scale(1.04);
}
@media (max-width: 768px) {
  .card__container {
    width: 184px;
  }
}
.card {
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.button__grp {
  top: 40%;
  padding: 30px 30px !important;
  position: absolute !important;
}

.btn__show {
  display: block !important;
}

.btn__hide {
  display: none !important;
}

.represent__card {
  transform: translateY(-20px);
  transition: transform 450ms;
}

.represent__cancel {
  transform: translateY(0px);
  transition: transform 450ms;
}
